@{
    ViewBag.Title = "About Us";
}
@*<h2>@ViewBag.Title</h2>*@
@*<h3>@ViewBag.Message</h3>*@

<h2 style="text-align:center; line-height: 75px; font-weight:bold; color:#23527c">FormosBar</h2>
<div>
    <div>
        <h4 style="line-height: 25px; text-align:justify">
            The <b>FormosBar</b> is a bar where all people can relax and unwind. It features a great selection of premium whiskies from around the world in a casual, cosy setting. Delicious snacks are available to complement your drinks. We also provide wine, cocktails, champagnes. <b>FormosBar</b> is an ideal place to gather with friends and leisurely sip a scotch or enjoy a glass of wine.
        </h4>
    </div>
    <hr />
</div>

<div style="text-align: center;">
    <a href="#"><img src="~/Content/img/About_us_jumbotron.jpg" class="img-fluid" alt="Bar Photo" title="Bar Photo"></a>
</div>

<div class="row" style="margin-left:0px;">
    <div class="col-sm-6" style="padding-top: 30px; margin-left:0px; padding-left:0px">
        <table>
            <tr>
                <td><h4><b>Opening Hour</b></h4></td>
            </tr>
            <tr>
                <td style="padding-right: 15px;"><h5>Sunday to Monday :</h5></td>
                <td><h5>17:30 - 01:00</h5></td>
            </tr>
            <tr>
                <td style="padding-right: 15px;"><h5>Tuesday to Satuarday :</h5></td>
                <td><h5>17:00 - 03:00</h5></td>
            </tr>
            <tr>
                <td style="padding-right: 15px;"><h5>Public Holiday :</h5></td>
                <td><h5>17:00 - 03:00</h5></td>
            </tr>
        </table>
    </div>
    <div class="col-sm-6" style="padding-top: 30px; margin-left:0px; padding-left:0px">
        <table>
            <tr>
                <td><h4><b>Contact</b></h4></td>
            </tr>
            <tr>
                <td style="padding-right: 15px;"><h5>Telephone :</h5></td>
                <td><h5>12-1234577</h5></td>
            </tr>
            <tr>
                <td style="padding-right: 15px;"><h5>Address :</h5></td>
                <td><h5>77, FormosaBay, Formosa Island<br /></h5></td>
            </tr>
        </table>
    </div>
</div>
