@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title</h2>
@*<h3>@ViewBag.Message</h3>*@
    <p>
        Featuring over 70 single malt whiskies, FormosBar is a whisky bar with an extensive collection of Japanese whiskies and Scotch whiskies.  We also
        provide wine, cocktails, champagnes as well as delicious snacks. FormosBar is an ideal place to gather with friends and leisurely sip a scotch or enjoy a glass of wine.
    </p>
    <p>
        Founding Date
        2005
    </p>
    <p>
        Opening Hours:
        Mon & Public Holiday close
        Tue - Sat 18 : 30 - 03 : 00
        Sun 17 : 30 - 01 : 00
    </p>