@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    FormosaBay<br />
    Formosa Island<br />
    <abbr title="Phone">P:</abbr>
    xxxx-xxxx
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@formosBar.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@formosBar.com</a>
</address>