@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
        <div class="container">
            <div><h1><img src="~/Content/img/jumbotron_logo.png" width="250" class="img-fluid" /></h1></div>
            <p class="lead">"The water was not fit to drink. To make it palatable, we had to add whisky. By diligent effort, I learned to like it." &#8212; <b>Winston Churchill</b></p>
            <p style="text-align: center;">
            <a href="https://asp.net" class="btn btn-primary btn-lg" style="height: 60px; padding-top: 18px;">
                <i class="fa fa-cutlery" aria-hidden="true"></i>
                Place Order Now 
                <i class="fa fa-cutlery" aria-hidden="true"></i></a></p>
        </div>
    </div>


<div class="row">
    <div><hr style="border: 1px solid black;" /></div>
    <div class="col-md-6">
        <h3 style="text-align: center; font-weight: 600;">
            <i class="fa fa-glass" aria-hidden="true"></i>
            &nbsp;HIGHLIGHTED DRINKS<i class="fa fa-glass" aria-hidden="true"></i>
        </h3>
        <p style="padding-top: 10px; padding-bottom: 10px;">
            <img src="~/Content/img/recommended_drinks.jpg" class="img-responsive center-block" style="width: 80%;" />
        </p>
        <h4 style="text-align: center;">
            <b>Lagavulin 16 Highball</b>
        </h4>
        <p style="text-align:justify;">
            ... must be as cold as possible: the whisky, sparkling water, and glass are all kept in a freezer until service.
            The smoky whisky and refreshing mint makes you feel like you’re in the forest.
        </p>
    </div>
    <div class="col-md-6">
        <h3 style="text-align: center; font-weight: 600;">
            <i class="fa fa-cutlery" aria-hidden="true"></i>
            &nbsp;HIGHLIGHTED DISHES
            <i class="fa fa-cutlery" aria-hidden="true"></i>
        </h3>
        <p style="padding-top: 10px; padding-bottom: 10px;">
            <img src="~/Content/img/recommended_dishes.jpg" class="img-responsive center-block" style="width: 80%;" />
        </p>
        <h4 style="text-align: center;">
            <b>Mortadella Pizza, Rosemary</b>
        </h4>
        <p style="text-align:justify;">
            ... is made with finely ground pork, high-quality pork fat, peppercorns, blend of spices, myrtle berries, pistachios and stuffed into casing. Its slices have a distinctive look of pink sausage with visible peppercorn and lardon shapes throughout. A minimum of 15 percent of the sausage’s weight comes from the lard.
        </p>
    </div>
</div>